{% extends 'layout.html' %}
{% block body %}
      <div class="card mt-3">
        <div class="card-header">
          <a class="mr-2" href="{% url 'user-blogs' blog.author.username %}">{{ blog.author }}</a>
        <small class="text-muted">{{ blog.date_posted|date:"F d, Y" }}</small>
        </div>
        <div class="card-body">
          <h2 class="article-title">{{ blog.title }}</h2>
      <p class="article-content">{{ blog.content }}</p>
        </div>
        {% if blog.author == user %}
          <div class="card-footer">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog-update' blog.pk %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog-delete' blog.pk %}">Delete</a>
          </div>
        {% endif %}
      </div>
{% endblock %}