{% extends 'layout.html' %}

{% block body %}
    <div class="card mt-5 p-5">
      <form action="{% url 'blog-update' blog.pk %}" method="post">
          {% csrf_token %}
        <input type="text" class="form-control m-1" name="title" value="{{blog.title}}">
        <textarea name="content" cols="30" rows="5" class="form-control m-1">{{blog.content}}</textarea>
        <input type="submit" class="form-control btn-primary m-1" value="update">
      </form>
    </div>

{% endblock %}